.chat-container {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  min-width: 250px;
  width: 250px;

  .app-title {
    color: #0d6efd !important;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    &.show {
      left: 0;
    }
  }

  .chat-footer {
    .form-control-lg {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    .btn-lg {
      font-size: 1rem;
      padding: 0.5rem 1rem; 
    }
  }
}

.sidebar-toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.main-content {
  width: 100%;
  overflow: hidden;
}

.conversation-list {
  .nav-item {
    width: 100%;
    max-width: 240px;
    .nav-link {
      padding-right: 8px;
      padding-left: 12px;
      &.active {
        .delete-btn {
          color: white !important;
        }
      }
    }
  }
}