.login-wrapper {
  background: linear-gradient(135deg, #1b2845, #274690);
}

.welcome-section {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
  flex: 1;

  img {
    width: 80%;
    max-width: 280px;
    height: auto;
    margin-top: 1rem;
    display: block;
  }
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #f8f9fa;
}

.card-body {
  h3.card-title {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form-control {
    position: relative;
  }

  .bi {
    cursor: pointer;
    color: #6c757d;
  }
}

@media (max-width: 767px) {
  .welcome-section {
    display: none;
  }
}
